@import variables
@import bootstrap/scss/bootstrap

@import url(https://fonts.googleapis.com/css?family=Vampiro+One)

body, html, #main 
  font-size: 14px

  @include media-breakpoint-up(md)
    height: 100%

  main
    height: calc(100vh - 54px)

.navbar
  background-color: $brand-color 

  .navbar-brand
    display: block
    float: none
    font-family: 'Vampiro One'
    font-size: 2rem
    margin: 0
    text-align: center
    text-shadow: 1px 2px 2px rgba(56, 4, 135, 0.63)

    @include media-breakpoint-up(md)
      text-align: left

.top-container
  @include media-breakpoint-up(md)
    height: 100%

    & > .row
      height: 100%
