@import variables
@import bootstrap/scss/bootstrap

body, html, #main 
  height: 100%
  font-size: 14px

  main
    height: calc(100vh - 54px)

.navbar
  background-color: $brand-color 

.top-container
  height: 100%

  & > .row
    height: 100%
